<ion-view view-title="campeonatos">
  <ion-content>
    <h1>Campeonatos</h1>
    <div class="row">
       <ul >
            <li ng-repeat="c in listaCampeonatos" >
                {{c.id}} - {{c.nome}}
            </li>
       </ul>
    </div>
  </ion-content>
</ion-view>
